<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Квартира</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:90%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-12">
				  <br>
				  <center>
				  <h1> </h1>
				  </center>
			  </div>
		</div><hr>
		
		<div class="container" style="min-height:95%; ">
			<iframe src="https://3dwarehouse.sketchup.com/embed.html?mid=c0c5f42f-7fd1-4a68-bd13-10f0e7ba6c58&width=1024&height=768" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1024" height="768" allowfullscreen></iframe>
		</div>
	</div>
	
</body>

</html>