{% extends 'armcalc/index.html' %}

{% block content %}
{% load staticfiles %}
<center>
<img src="{% static 'armcalc/pictures/5.png' %}">
</center>

<br><br>

<div class='col-sm-6'>
	<form class="form-horizontal" action='/armcalc/h2' method='post'>
	{% csrf_token %}
		<div class="form-group">
			<label for="id_1" class="col-sm-3 control-label">a</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="id_1" name='h2_a' style='width: 100px'>
			</div>
		</div>
		<div class="form-group">
			<label for="id_2" class="col-sm-3 control-label">b</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="id_2" name='h2_b' style='width: 100px'>
			</div>
		</div>
		<div class="form-group">
			<label for="id_4" class="col-sm-3 control-label">Диаметр</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="id_4" name='h2_d' style='width: 100px'>
			</div>
		</div>

	  <button type="submit" class="btn btn-default btn-block">Расчет</button> 
	</form>
</div>
	
<div class='col-sm-6'>
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>Диаметр</th>
				<th>Длина</th>
				<th>Масса</th>
			</tr>
		</thead>
		<tbody>
			{{h2_res|safe}}
		</tbody>		
	</table>
</div>

  
{% endblock %}