<!DOCTYPE html>
<html lang='ru'>

<head>
	<title>Арматурные детали</title> 
	{% load staticfiles %}
	<script src="{% static 'armcalc/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'armcalc/js/bootstrap.min.js' %} "></script>
	
	<link rel="stylesheet" href="{% static 'armcalc/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">		
	<style type="text/css">
		html,
		body {
			height:90%
		}
	</style>	
</head>

<body class='body' style='background-color:#f6f6f6'>
	<div class='container'>
		<div class='page-header'>
			<div class='row'>
				<div class='col-xs-1'>
					<br>
					<a href='../' class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </a>
				</div>
				
				<div class='col-xs-10'>
					<center>
					<h1>Арматурные детали<h1>
					</center>
				</div>
			</div>
			<div class='row'>	
				<center>
				<div class='btn-group'>
					<div class="dropdown">
					  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Деталь
						<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu dropdown-menu-middle" aria-labelledby="dropdownMenu1">
						<li><a href='./d1'> <img src="{% static 'armcalc/pictures/schemes/1.png' %}" width='70'> </a> </li>
						<li><a href='./p1'> <img src="{% static 'armcalc/pictures/schemes/2.png' %}" width='70'> </a> </li>
						<li><a href='./l1'> <img src="{% static 'armcalc/pictures/schemes/3.png' %}" width='70'> </a> </li>
						<li><a href='./h1'> <img src="{% static 'armcalc/pictures/schemes/4.png' %}" width='70'> </a> </li>
						<li><a href='./h2'> <img src="{% static 'armcalc/pictures/schemes/5.png' %}" width='70'> </a> </li>
						<li><a href='./h3'> <img src="{% static 'armcalc/pictures/schemes/6.png' %}" width='70'> </a> </li>
					  </ul>
					</div>
				</div>
				</center>
			</div>
		</div>

		<div class='container'>
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
</body>
</html>