<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Давление ветра</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:90%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-12">
				  <br>
				  <center>
				  <h1> </h1>
				  </center>
			  </div>
		</div><hr>
		
		<div class="container" style="min-height:95%; ">
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0a6f4a99fd05067ed7e0a2b2497e81da14d45e138b83873dba6bd37c2a4f6dfd&amp;width=100%25&amp;height=650&amp;lang=ru_RU&amp;scroll=true"></script>
		</div>
	</div>
	
</body>

</html>